body {
  background-color: #8c9339;
}

.App {
  text-align: center;

  background-color: #8c9339;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn {
  width: 200px;
  height: 50px;

  background-color: gold;
  border-radius: 20px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.95);
}
